html,
body,
*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 0, 0);
}

li.first{
    color: aqua;
    
}
#second{
    color: blue;
}
h1{
    font-size: 64px;
    text-align: center;
}
img{
    width: 400px;
}
.post{
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
}
.post-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.post-para{
    text-align: left;
}
ul{
    padding: 30px;
}